body{
    margin: 0px;
    padding: 0px;
    background: red;
    transition: all 0.2s;
}

#icon{
    font-size: 64px;
    color: wheat;
    transition: all 0.2s;
}

.Page1 { display : block ; } .Page2 { display : none ; }