body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(72.05deg, #00386B -4.63%, #036C8D 105.11%);
    transition: all 0.3s;
    height: 500vh;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.Left { grid-area: 1 / 1 / 2 / 2; margin: 20px 0px 0px 20px;}
.rigth { grid-area: 1 / 2 / 2 / 3;}
.Pagecolor { display : none ; }

.fade-out {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.headLeftIcon{
  font-size: 29px;
  color: aliceblue;
}

.Left{
  height: 50vh;
}

.headLeft{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px 10px 10px;
  background-color: #012945;  
  border-radius: 10px 0px 0px 10px;
  height: 90vh;
}

.headLeftH1{
  color: #c6c6c7; 
  margin-left: 10px;
}

.headLeftIcon{
  margin-right:0px ;
  margin-right: 10px;
}

#color{
  position: absolute;
  top: 0;
  right: 0;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: rgb(39, 37, 37);
  margin: 20px;
  padding: 10px;
  width: 300px;
  box-shadow:10px 11px 0px 0px rgb(0 0 0 / 71%);
  z-index: 100000;
}

#btn1{
  background: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: inset -6px 6px 1px rgb(0 0 0 / 25%);
}

#btn2{
  background: rgb(0, 0, 255);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: inset -6px 6px 1px rgb(0 0 0 / 25%);
}

#btn3{
  background: rgb(242, 255, 0);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: inset -6px 6px 1px rgb(0 0 0 / 25%);
}

#btn4{
  background: rgb(255, 140, 0);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: inset -6px 6px 1px rgb(0 0 0 / 25%);
}

#btn5{
  background: rgb(30, 255, 0);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: inset -6px 6px 1px rgb(0 0 0 / 25%);
}

#btn6{
  background: rgb(255, 0, 234);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: inset -6px 6px 1px rgb(0 0 0 / 25%);
}

#btn7{
  background: rgb(114, 8, 200);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: inset -6px 6px 1px rgb(0 0 0 / 25%);
}

#btn8{
  background: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: inset -6px 6px 1px rgb(0 0 0 / 25%);
}

#colorH1{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  color: #e5e1d5;
}

#searchbar {
  background-color: #111d29;
  color: #6a7179;
  border: 0px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  margin: 10px;
  padding-left: 10px;
}

textarea{
  resize: none;
  height: 90vh;
  width: 95%;
  margin: 10px 10px 10px 0px;
  border-radius:0px 10px 10px 0px;
}

iframe{
  display: flex;
  position: absolute;
  top: 0;
  z-index: 10;
}

#seemyproject
{
    background-color: #0b2238;
    color: white;
    border: 0px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    margin: 5px;
    transition: .2s;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
}

#seemyproject:hover
{
    background-color: #5A8BBA;
}

.CodeMirror {
  margin: 10px 10px 10px 0px;
  border-radius: 0px 5px 5px 0px;
}